* {
    margin: 0;
}

.main-container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    height         : 100%;
}

.container1 {
    margin-top     : 3rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 40vw;
    height         : 55vh;
    border         : 1px solid #c0c0c0;
    box-shadow     : 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.res {
    margin-top: 2rem;
    width     : 30vw;
    height    : 30vh;
    overflow  : auto;
}

.res-heading {
    margin-top: 2rem;
}